.AccountsLayout {
  font-family: "Avenir Next Regular", "Work Sans", sans-serif;
  padding-top: 3rem;
  padding-bottom: 3rem;
  .logo-container {
    margin-left: 30px;
  }
  .al-container {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  @media all and (min-width: 768px) {
    height: 100vh;
    padding: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .al-container {
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start;
      .accounts-outlet-container {
        width: 50%;
        max-width: 704px;
      }
    }
  }
}
