.UserDetailsOverview {
  min-width: fit-content;
  .MuiPaper-root.brief-overview-container {
    margin: 2.9rem 0 1.9rem;
    padding: 1.8rem 1.8rem 0;
  }
}

.BriefOverview {
  padding-bottom: 3.2rem;
  .avatar-container {
    margin-right: 1.25rem;
    .overlay {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      height: 100%;
      width: 100%;
      opacity: 0;
      transition: 0.3s ease;
      background-color: red;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    &:hover .overlay {
      opacity: 1;
    }
  }
  .tier-container {
    border: 2px solid rgba(0, 0, 0, 0.2);
    padding: 0 2rem;
    border-top: 0;
    border-bottom: 0;
    margin: 0 2rem;
  }
  .name-container,
  .balance-container {
    p:first-child {
      font-size: 1.2rem;
      font-weight: bold;
    }
  }
}
