.DatatableFooter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 1200px;
  .select-box-container {
    .MuiOutlinedInput-root {
      margin: 0 0.5rem;
      background: rgba(33, 63, 125, 0.1);
      .MuiSelect-select {
        padding: 0.5rem;
        width: 4rem;
      }
    }
  }
  .MuiPaginationItem-root.Mui-selected {
    background-color: rgba(0, 0, 0, 0);
    color: var(--dark-blue-variant);
    font-weight: bold;
  }
}
