@import "styles/_mixins";
.UserDetailsTabs {
  .MuiTabs-flexContainer {
    @include grid-container;
    column-gap: initial;
    grid-template-columns: auto auto auto auto auto auto;

    .Mui-selected {
      color: var(--light-cyan);
    }
    .MuiButtonBase-root:not(.Mui-selected) {
      font-family: "SF Compact Text", "Work Sans", sans-serif;
    }
  }
  .MuiTabs-indicator {
    background-color: var(--light-cyan);
  }
}
