@import "styles/styles";

.HomeLayout {
  .home-layout-sub {
    display: flex;
    .home-outlet-container {
      overflow: auto;
      margin-left: $home-layout-sidebar-offset;
      margin-top: $home-layout-topbar-offset;
      padding: 0.8rem;
      padding-right: 1.2rem;
    }
  }
}
