@import "styles/styles";

.TopBar {
  .MuiPaper-root {
    height: $topbar-height;
    width: 100vw;
    max-width: $body-max-width;
    position: fixed;
    top: 0;
    z-index: 3;
    overflow-y: auto;
    padding-left: 30px;
    display: flex;
    justify-content: space-between;
    border-radius: 0;
    align-items: center;
  }
  .logo-container {
    width: 20%;
  }
  .searchbar-container {
    width: 40%;
  }
  .topbar-right-container {
    width: 35%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 300px;
    margin-left: auto;
    a {
      text-decoration: underline;
    }
  }
}
