.Login {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: auto;
  .text-container {
    h2 {
      margin-top: 0;
      margin-bottom: 0.625rem;
      font-family: "Avenir Next Bold", "Work Sans", sans-serif;
      font-size: 3rem;
      color: var(--dark-blue);
    }
    p {
      margin-top: 0;
      margin-bottom: 3.75rem;
      font-size: 1.5rem;
      font-weight: bold;
      color: var(--light-cyan);
    }
  }
  .MuiBox-root {
    max-width: 447px;
    .MuiFormControl-root {
      margin-bottom: 1.5rem;
    }
  }
  .MuiButton-root.w-100-all {
    background-color: var(--light-cyan);
  }
  .forgot-password {
    margin-bottom: 1.8rem;
  }
  .spinner-loader {
    display: inline-block;
    margin-right: 1rem;
  }
}
