.SearchBar {
  padding-left: 2rem;
  form {
    max-width: 400px;
    border: 1px solid gray;
    border-radius: 0.5rem;
    display: flex;
    margin-left: 1rem;
    height: 40px;
    .MuiIconButton-root {
      background: cyan;
      color: white;
      border-radius: 0.4rem;
      width: 3.5rem;
      border-radius: 0 0.4rem 0.4rem 0;
    }
  }
}
