.UsersCountCards {
  padding: 1rem 0.8rem;
  margin-right: 0.8rem;

  .MuiPaper-root {
    max-height: 160px;
    max-width: 240px;
  }
  .MuiCardContent-root {
    padding-top: 0;
    p:first-child {
      color: var(--dark-blue-variant);
    }
    p:last-child {
      font-weight: bold;
      font-size: 1.25rem;
    }
  }
}
