.FilterForm {
  padding: 1.2rem;
  width: 17rem;
  .filter-field {
    display: flex;
    flex-direction: column;
    margin-bottom: 0.8rem;
  }
  .action-buttons-container {
    display: flex;
    justify-content: space-between;
    button:last-child {
      background-color: var(--light-cyan);
    }
  }
}
