.Sidebar {
  .MuiPaper-root {
    height: 90vh;
    position: fixed;
    bottom: 0;
    z-index: 3;
    overflow-y: auto;
    padding-left: 30px;
  }
  .MuiListItemButton-root,
  .MuiListItem-root {
    padding-left: 0;
  }
}
