@import "styles/styles";
.Sidebar {
  .MuiPaper-root {
    overflow-y: auto;
    padding-left: $sidebar-padding-left;
    box-shadow: 13px 2px 5px -3px rgb(0 0 0 / 12%);
    border-radius: 0;
  }
  .MuiListItemButton-root,
  .MuiListItem-root {
    padding-left: 0;
  }
  span.MuiTypography-root,
  .MuiListItemIcon-root {
    font-family: "Work Sans", sans-serif;
    font-weight: 400;
    color: var(--dark-blue);
  }
  .MuiListItemIcon-root {
    min-width: 36px;
  }
  .section-title {
    margin-bottom: 0;
    font-weight: 500;
  }
  .MuiList-root {
    padding-top: 0;
  }
  @media all and (min-width: 768px) {
    .MuiPaper-root {
      width: $sidebar-width;
      height: $sidebar-height;
      position: fixed;
      bottom: 0;
      padding-top: 2.5rem;
    }
  }
}
