@import "styles/_mixins";

.DatatableRow {
  @include table-data;
  span {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

.DatatableRows {
  @include grid-container($flow: column);
  column-gap: initial;
}
