.w-100-all {
  width: 100%;
}

.d-flex {
  display: flex;
}

.svgIcon {
  width: 1em;
  height: 1em;
  display: inline-block;
  flex-shrink: 0;
  font-size: 1.5rem;
}

.md-none {
  display: none;
}

@media all and (min-width: 768px) {
  .md-none {
    display: block;
  }
  .lg-none {
    display: none;
  }
}
